#  과제2_B784044 장태수

# Task 1: Variables

Create a variable with name ```university``` and assign the string value ```Mannheim```to it.

In [54]:
#TODO
university = 'Manheim'
print('type of university :',type(university))

type of university : <class 'str'>

Create a list named ```fruits``` with the following elements:
- ```'apple'```
- ```'banana'```
- ```'lemon'```

In [55]:
#TODO
fruits = ['apple','banana','lemon']
print(fruits)

['apple', 'banana', 'lemon']

Create a dictionary named ```my_dictionary``` with following key, value pairs:
- 'a' -> 'b'
- 5 -> 10.0
- 'hello' -> 'goodbye'

In [56]:
#TODO
my_dictionary={'a':'b',5:10.0, 'hello':'goodbye'}
print(my_dictionary['a'], my_dictionary[5],my_dictionary['hello'])

b 10.0 goodbye

try below the autocomplete function by typing ```my``` and pressing ```<tab>```

In [57]:
#TODO
my_dictionary

{'a': 'b', 5: 10.0, 'hello': 'goodbye'}

Access the value of key ```'hello'``` in ```my_dictionary```

In [58]:
#TODO
my_dictionary['hello']

'goodbye'

Create an empty set named ```my_set``` and add the values ```5``` and ```7```

In [59]:
#TODO
my_set={}
my_set = set(my_set)
print(type(my_set))
print(my_set)
my_set.add(5)
my_set.add(7)
print(my_set)

<class 'set'>
set()
{5, 7}

# Task 2: Conditions and operators
Print out if the element ```'cherry'``` is in list named ```fruits```

In [60]:
#TODO
fruits.append('cherry')
fruits[-1]

'cherry'

Print out ```wow``` if more than 1 element is in set named ```my_set```, otherwise print out ```not so many```

In [61]:
#TODO
print('my_set:',my_set)
if len(my_set)>0:
    print('wow')
else:
    print('not so many')

my_set: {5, 7}
wow

# Task 3: Loops

Loop through the items in the ```fruits``` list and print each element.

In [62]:
#TODO
for i in fruits:
    print(i)

apple
banana
lemon
cherry

Create a variable ```j``` set it to ```0``` and use a while loop to increase it until ```5```

In [67]:
#TODO
j=0
while j<5:
    j+=1
print(j)

5

Use a for loop and the ```range``` function to loop over ```fruits``` and print each element

In [69]:
#TODO
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
lemon
cherry

# Task 4: Functions

Define a function ```calc``` which has one parameter ```my_number``` and returns the value multiplied by 2

In [73]:
#TODO
def calc(mynumber):
    return mynumber*2

Call that function with the value ```5``` and print the output

In [74]:
#TODO
calc(5)

10

Python has a ```sorted(iterable, key)``` function and key can be a lamdba function which gets one item and return a value which is the sorting key.

As an example: ```sorted_fruits = sorted(fruits, key=lamdba x: x[1])``` which sorts on the second character of each element in the list.

Sort now the list by the length of the strings.

In [84]:
#TODO
my_list = ['a','ab','kbc','ac','ebcd','baaaa','a','cde']
sorted_list = sorted(my_list,key = len)
sorted_list

['a', 'a', 'ab', 'ac', 'kbc', 'cde', 'ebcd', 'baaaa']

Define a function that, given a string, returns the number of upper case and lower case characters in it.

In [110]:
#TODO
def my_case(string):
    upper_case=0
    lower_case=0
    for i in string:
        if i.isupper() == True :
            upper_case+=1
        else:
            lower_case +=1
    print("upper_case: ",upper_case)
    print("lower_case: ",lower_case)

Test your function with strings of your choice.

In [109]:
#TODO
test_string = 'MyTestStRinG2'
my_case(test_string)

upper_case:  5
lower_case:  8